/* ===== PAGE BABYSITTING ===== */

.baby-list {
  list-style: none;
  max-width: 600px;
  margin: 20px auto 0;
}

.baby-list li {
  font-size: 20px;
  line-height: 1.8;
  padding-left: 30px;
  position: relative;
}

.baby-list li::before {
  content: "•";
  color: var(--blue);
  position: absolute;
  left: 6px;
}
