.site-header {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.header {
  display: inline-block;
  text-decoration: none;
  color: #004aad;
  font-family: 'Clicker Script', cursive;
  font-size: 28px;
  font-weight: 600;
}
